open a new file named api.env
paste below at the new file
put your own api key,base url and ai model
you may delete this file after created the new file
API_KEY=put-your-api-key
AI_BASE_URL=base-url
AI_MODEL=model